<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Task Management</title>
  <link rel="stylesheet" href="/stylesheets/istyle.css">
</head>
<body>
  <div class="glass-container">
    <div class="content">
      <div class="left-content">
        <h1>Welcome to Team Task Management</h1>
        <p>Efficiently manage tasks, collaborate with your team, and achieve success together. Join us in the journey of seamless teamwork and productivity.</p>
        <a href="/users/login" class="btn" id="loginBtn">Login</a>
      </div>
      <div class="right-content">
        <img src="https://miro.medium.com/v2/resize:fit:1400/0*AaM3Ub5ELRyE6MRZ" alt="Large Image">
      </div>
    </div>
  </div>
  <script src="/javascripts/script.js"></script>
</body>
</html>
